/*fonts to be used*/

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
body {
	margin: 0;
	position: relative;
	overflow: auto;
	overflow-x: hidden;
	background-color: #234628;
	box-sizing: border-box;
}
.textCenter {
	text-align: center;
}
div.contentHome {
	height: 1100px;
	width: 1350px;
	margin: 0;
	padding: 0;
}

/*under header*/
header {
	padding: 0;
	margin: 0;
	color: #FFFFFF;
	font-family: 'Playfair Display', serif;
	width: 100%;
	height: 300px;
	top: 15px;
	position: relative;
}
div.heading {
	position: relative;
	height: 340px;
	background-color: #002408;
}
#HomeHeader {
	font-size: 60px;
	position: absolute;
	right: 20px;
	text-align: center;
	top: 70px;
}
.Earthpng {
	position: absolute;
	bottom: 0;
	left: 0;
}
.HomeImage1 {
	position: absolute;
	left: 0;
	top: 0px;
	width: 53%;
	height: 340px;
}

/*for the navigation bar*/
nav {
	font-family: Raleway, 'Open Sans', sans-serif;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
nav span.logo > a {
	color: white;
	font-size: 30px;
	position: absolute;
	bottom: 20%;
	left: 30px;
	letter-spacing: 3px;
	font-weight: bold;
	text-decoration: none;
}
nav span a:link {
	color: #FFFFFF;
}
nav span a:visited {
	color: #FFFFFF;
}
nav span a:hover {
	color: rgba(128, 230, 88, 0.9)
}
nav span a:active {
	color: #000000;
}
nav ul {
	list-style-type: none;
	overflow: hidden;
	background: #295E11;
	font-size: 18px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}
nav ul li {
	float: right;
	border: 1px solid rgba(255, 255, 255, 0.1);
	
}
nav ul li a {
	display: block;
	text-align: center;
	padding: 15px 25px;
	color: #BDB8D7;
	text-decoration: none;
}
nav ul li a:link {
	color: #BDB8D7;
}
nav ul li a:visited {
	color: #FFFFFF;
}
nav ul li a:hover {
	background: #33AC3B;
	color: #FFFFFF;
	border-top: 2px solid white;
}
nav ul li a:active {
	color: #FFF;
}
nav ul li#current {
	background: #449425;
}

/*under article, main content*/
article {
	position: relative;
	width: 100%;
	height: 100px;
	text-align: left;
	z-index: 1;
	color: #FFFFFF;
}
#HomeSubtitle {
	position: absolute;
	right: 90px;
	top: 25%;
	font-size: 50px;
	font-weight: bold;
	font-family: 'Playfair Display', serif;
}
/*main body of text*/
#definition {
	position: absolute;
	width: 50%;
	right: 3%;
	top: 150px;
	font-size: 30px;
	font-family: Raleway, 'Open Sans', sans-serif;
}

/*under aside*/
aside {
	position: relative;
	width: 30%;
	height: 100%;
}
.HomeImage2 {
	position: absolute;
	left: 20px;
	top: -50px;
	height: 480px;
}
/*under section*/
section {
	position: absolute;
	bottom: 40px;
	text-align: center;
	vertical-align: middle;
	font-family: "Playfair Display", serif;
	font-weight: bold;
	font-size: 40px;
	width: 100%;
	height: 180px;
	color: #FFFFFF;
}
/*lead to video*/
#click {
	position: absolute;
	font-family: "Josefin Sans", sans-serif;
	font-weight: bold;
	width: 100%;
	font-size: 25px;
	top: 0px;
	left: 0px;
}
/*positioning video*/
section video {
	position: absolute;
	left: 200px;
	top: 60px;
	height: 540px;
	width: 960px;
}
section p {
	position: absolute;
	left: 25%;
	top: 325%;
}

/*under footer*/
footer {
	position: absolute;
	top: 150%;
	font-family: Raleway, "Open Sans", sans-serif;
	width: 100%;
	background: rgba(0, 0, 0, 0.4);
	font-size: 15px;
	color: white;
}
footer ol {
	margin: 0 0 0 20px;
	padding: 0;
}
footer span {
	font-style: italic;
}
/*copyright and contact information*/
p#copyright {
	text-align: center;
}
/*for social media links*/
footer a div.facebook {
	background: url('../images/icons.png') no-repeat -5px -5px;
	width: 54px;
	height: 54px;
}
/*when the cursor is hovering, the icon goes up and down*/
footer a:hover div.facebook {
	background: url('../images/icons.png') no-repeat -69px -5px;
	width: 54px;
	height: 54px;
	position: relative;
	animation: move 2s infinite;
}
footer a div.twitter {
	background: url('../images/icons.png') no-repeat -133px -5px;
	width: 54px;
	height: 54px;
	position: relative;
}
footer a:hover div.twitter {
	background: url('../images/icons.png') no-repeat -133px -69px;
	width: 54px;
	height: 54px;
	position: relative;
	animation: move 2s infinite;
}
footer a div.tumblr {
	background: url('../images/icons.png') no-repeat -5px -69px;
	width: 54px;
	height: 54px;
}	
footer a:hover div.tumblr {
	background: url('../images/icons.png') no-repeat -69px -69px;
	width: 54px;
	height: 54px;
	position: relative;
	animation: move 2s infinite;
}
/*animation that makes the logo go up and down sa long as the cursor is hovering over it*/
@keyframes move {
	0% {bottom: 0;}
	50% {bottom: 40px;}
	100% {bottom: 0;}
}
div.social-media a {
	display: block;
	height: 54px;
	width: 54px;
}
/*for the layout of the social media links*/
div.social-media {
	position: relative;
	display: flex;
	justify-content: space-around;
}
.social-media-reach {
	font-size: 20px;
	width: 100%;
	text-align: center;
}